<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--base portal web landing-->
    <link rel="stylesheet" href="/src/css/main.css" />
    <link rel="stylesheet" href="/src/css/clay.css" />
    <!--jqurery-->
    <script src="/src/js/libraries/jquery.min.js"></script>
  </head>
  <body class="theme-s">
    <section class="s-c-card-esteban">
      <div class="main-card">
        <div class="card">
          <img
            src="https://placehold.co/400x300"
            alt=""
            data-lfr-editable-id="01-img-principal"
            data-lfr-editable-type="image"
            class="card-image"
          />
          <div
            class="category"
            data-lfr-editable-id="01-text-category"
            data-lfr-editable-type="text"
          >
            Illustration
          </div>
          <div
            class="heading"
            data-lfr-editable-id="01-text-header"
            data-lfr-editable-type="text"
          >
            A heading that must span over two lines
          </div>
          <div>
            <a class="s-o-button s-t-button__size-s s-t-button__primary" href="#">Click Me</a>
          </div>
          <div class="author">By <span class="name">Abi</span> 4 days ago</div>
        </div>
      </div>
    </section>
  </body>
</html>
