<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--base portal web landing-->
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/clay.css" />
    <!--jqurery-->
    <script src="../../js/libraries/jquery.min.js"></script>
    <script src="../../js/compile-dist.js "></script>
  </head>

  <body class="theme-d">
    <section class="container d-flex flex-column">
      <a
        class="d-o-button d-t-button__size-s d-t-button__primary-icon"
        href="# "
        role="button"
      >
        <img
          src="/src/img/icon/Thumb-Up-white.svg"
          class="icon"
          alt=""
          aria-hidden="true"
        />
        Holi btn primary s
      </a>
    </section>
  </body>
</html>
