<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--base portal web landing-->
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/clay.css" />
    <!--jqurery-->
    <script src="../../js/libraries/jquery.min.js"></script>
    <script src="../../js/compile-dist.js "></script>
  </head>

  <body class="theme-s">
    <section class="container d-flex flex-column">
      <br />
      <a
        class="s-o-button s-t-button__size-s s-t-button__primary-icon"
        href="# "
      >
        <img
          src="/src/img/icon/Thumb-Up-white.svg"
          class="icon"
          alt=""
          aria-hidden="true"
        />
        Holi btn primary s
      </a>
      <br />
    </section>
  </body>
</html>
