$componentSpecificName: "card-juan";

.#{$theme} {
    .#{$component}-#{$componentSpecificName} {
        .card-container{
            width: 170px;
            text-align: center;
            border-radius: 5px;
        }
        .card{
            padding: 20px;
            background: linear-gradient(19deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
            color: #fff;
        }
        .boton{
            border-radius: 6px;
            background-color: #00D4FF;
            border: none;
            color: #fff;
            padding: 5px 30px 5px 30px;
            font-size: 13px;
            font-weight: bold;
        }
    }
}
