<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--base portal web landing-->
    <link rel="stylesheet" href="/src/css/main.css" />
    <link rel="stylesheet" href="/src/css/clay.css" />
    <!--jqurery-->
    <script src="/src/js/libraries/jquery.min.js "></script>
    <!-- Link Iconos -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="theme-s">

    <section class="s-c-property">
        <article class="property__card">
            <div class="property__content">
                <img src="aerolinea-juan.jpg" alt="imagen de la card" class="property__image">                
            </div>
            <div class="property__details">
                <div class="property__header">
                    <h2 class="property__price">$1.500.000,00</h2>
                    <h1 class="property__title">Vuelo directo al medio oriente</h1>
                    <h3>¡Aprovecha esta increible oferta!</h3>
                </div>
                <a href="#" class="s-o-button s-t-button__size-s s-t-button__primary">Book now</a>
                <div class="property__feature">
                    <i class="bx bx-target-lock bx-flip-horizontal"></i>
                    <p class="property__description">Aeropuerto el Dorado - Bogotá</p>
                </div>
            </div>
            </div>
        </article>
    </section>

</body>
</html>