<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--base portal web landing-->
    <link rel="stylesheet" href="/src/css/main.css" />
    <link rel="stylesheet" href="/src/css/clay.css" />
    <!--jqurery-->
    <script src="/src/js/libraries/jquery.min.js "></script>
    <!-- Link Iconos -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body class="theme-s">
    <section class="s-c-property">
        <article class="property__card">
            <div class="property__content">
                <img class="property__image" src="./img/casa.jpg" alt="" />
                <div class="property__favorite-icon">
                    <i class="bx bxs-heart bx-flip-horizontal"></i>
                </div>
            </div>
            <div class="property__details">
                <div class="property__header">
                    <h2 class="property__price">350.000$</h2>
                    <h1 class="property__title">Casa Con Piscina</h1>
                </div>
                <a class="s-o-button s-t-button__size-s s-t-button__primary s-t-button--disabled" href="#">A la venta</a>

                <div class="property__feature">
                    <i class="bx bx-target-lock bx-flip-horizontal"></i>
                    <p class="property__description">Diagonal 673 #45 Norte 67</p>
                </div>

                <div class="property__features">
                    <div class="property__feature">
                        <i class="bx bx-ruler"></i>
                        <span class="property__feature-value">320</span>
                        <span class="property__feature-unit">m2</span>
                    </div>
                    <div class="property__feature">
                        <i class="bx bx-cube-alt bx-flip-horizontal"></i>
                        <span class="property__feature-value">6</span>
                        <span class="property__feature-unit">hab</span>
                    </div>
                    <div class="property__feature">
                        <i class="bx bx-bath"></i>
                        <span class="property__feature-value">3</span>
                        <span class="property__feature-unit">Baños</span>
                    </div>
                </div>
            </div>
        </article>

        <article class="property__card">
            <div class="property__content">
                <img class="property__image" src="./img/casa.jpg" alt="" />
                <div class="property__favorite-icon">
                    <i class="bx bxs-heart bx-flip-horizontal"></i>
                </div>
            </div>
            <div class="property__details">
                <div class="property__header">
                    <h2 class="property__price">350.000$</h2>
                    <h1 class="property__title">Casa Con Piscina</h1>
                </div>
                <a class="s-o-button s-t-button__size-s s-t-button__primary" href="#">A la venta</a>

                <div class="property__feature">
                    <i class="bx bx-target-lock bx-flip-horizontal"></i>
                    <p class="property__description">Diagonal 673 #45 Norte 67</p>
                </div>

                <div class="property__features">
                    <div class="property__feature">
                        <i class="bx bx-ruler"></i>
                        <span class="property__feature-value">320</span>
                        <span class="property__feature-unit">m2</span>
                    </div>
                    <div class="property__feature">
                        <i class="bx bx-cube-alt bx-flip-horizontal"></i>
                        <span class="property__feature-value">6</span>
                        <span class="property__feature-unit">hab</span>
                    </div>
                    <div class="property__feature">
                        <i class="bx bx-bath"></i>
                        <span class="property__feature-value">3</span>
                        <span class="property__feature-unit">Baños</span>
                    </div>
                </div>
            </div>
        </article>

        <article class="property__card">
            <div class="property__content">
                <img class="property__image" src="./img/casa.jpg" alt="" />
                <div class="property__favorite-icon">
                    <i class="bx bxs-heart bx-flip-horizontal"></i>
                </div>
            </div>
            <div class="property__details">
                <div class="property__header">
                    <h2 class="property__price">350.000$</h2>
                    <h1 class="property__title">Casa Con Piscina</h1>
                </div>
                <a class="s-o-button s-t-button__size-s s-t-button__secondary" href="#">A la venta</a>

                <div class="property__feature">
                    <i class="bx bx-target-lock bx-flip-horizontal"></i>
                    <p class="property__description">Diagonal 673 #45 Norte 67</p>
                </div>

                <div class="property__features">
                    <div class="property__feature">
                        <i class="bx bx-ruler"></i>
                        <span class="property__feature-value">320</span>
                        <span class="property__feature-unit">m2</span>
                    </div>
                    <div class="property__feature">
                        <i class="bx bx-cube-alt bx-flip-horizontal"></i>
                        <span class="property__feature-value">6</span>
                        <span class="property__feature-unit">hab</span>
                    </div>
                    <div class="property__feature">
                        <i class="bx bx-bath"></i>
                        <span class="property__feature-value">3</span>
                        <span class="property__feature-unit">Baños</span>
                    </div>
                </div>
            </div>
        </article>
    </section>
</body>

</html>